@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap');

body {
    Font-size: 18px;
    font-family: 'Outfit', sans-serif;
    background-color: hsl(217, 54%, 11%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

.BackgroundCard {
    background-color: hsl(216deg 57% 11%);
    margin: auto;
    padding: 20px 40px 70px 40px;
    border-radius: 20px;
}

main {
    background-color: hsl(216, 50%, 16%);
    width: 290px;
    margin: auto;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    box-shadow: 0 25px 3px 15px hsl(217deg 58% 10%);
}

.image {
    width: 85%;
    margin: 20px auto;
    border-radius: 7px;
    position: relative;
}

#image {
    width: 246.5px;
    height: 246.5px;
    background: url('images/image-equilibrium.jpg') no-repeat;
    background-size: cover;
}

#image.active {
    cursor: pointer;
    width: 246.5px;
    height: 246.5px;
    background: linear-gradient(hsl(178, 100%, 50%, 0.5), hsl(178, 100%, 50%, 0.5)), url('images/image-equilibrium.jpg') ;
    background-size: cover;
}

#view-icon {
    display: none;
}

#view-icon.active {
    display: unset;
    position: absolute;
    top: 41%;
    left: 41%;
    cursor: pointer;
}

.content {
    color: #7d93b0;
    margin: 0 20px 20px 20px;
}

#name {
    margin-top: 0;
    color: hsl(0, 0%, 100%);
}

#name.active {
    color: hsl(178, 100%, 50%);
    cursor: pointer;
}

.Info {
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
}

.Info small {
    font-size: 14px;
    top: -3px;
    position: relative;
}

.info1 {
    color: hsl(178, 100%, 50%);
}

hr {
    width: 100%;
    border-top: 1px;
    border-color: hsl(215, 32%, 27%);
}

.avatar {
    height: 30px;
    border: 1px solid hsl(0, 0%, 100%);
    border-radius: 50%;
}

.Creator {
    display: flex;
    margin-top: 15px;
}

.Creator p {
    font-size: 14px;
    margin-top: 6px;
}

#creator-name {
    color: hsl(0, 0%, 100%);
}

#creator-name.active {
    color: hsl(178, 100%, 50%);
    cursor: pointer;
}



.attribution { 
    color: #7d8588;
    font-size: 11px; 
    text-align: center; 
}

.attribution a {
    color: hsl(228, 45%, 44%); 
}